:host {
	display: flex;
	justify-content: center;
	// justify-content: 
	background-color: rgb(255, 214, 214);
}
.popular-rate {
	display: flex;
	margin: 10px 10px 10px 10px;
	.rate {
		margin: 0px 0px 0px 15px;
	}
}