:host {
	display: grid;
	font-size: 2rem;
	background-color: rgb(87, 230, 182);
}
.calc {
	background-color: chocolate;
}
.calc-form {
	background-color: aqua;
	width: min-content;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(2, 200px);
	

	.amount{
		font-size: 26px;
		padding: 4px 14px 4px 14px;
		width: 120px;
		margin: 10px;
	}

	.calc-title, .to-smthg{
		margin: 0px;
		text-align: center;
		border: 1px solid black;
		grid-column-start: span 2 ;
	}

}
